@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #4723D9;
    --first-color-light: #AFA5D9;
    --white-color: #F7F6FB;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100
}

*,
::before,
::after {
    box-sizing: border-box
}

body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s;
    padding-left: 0px;
    padding-right: 0px;

}

a {
    text-decoration: none
}

.MuiOutlinedInput-input {
    padding: 8px!important;
}

.MuiInputLabel-outlined {
    z-index: 1;
    transform: translate(10px, 12px) scale(1)!important;
    pointer-events: none;
}

.MuiInputLabel-outlined.MuiInputLabel-shrink {
    transform: translate(14px, -6px) scale(0.75)!important;
}

.content-login {
    /*background-image: url("../public/images/headerlogin.jpg");
    background-size: contain;*/
    background-blend-mode: color;
}

main#content-products {
    padding-top: 40px;
}

div#content-button-create {
    padding-bottom: 15px;
    display: flex;
    padding: 0;
    flex-grow: 1;
    align-items: flex-end;
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    flex-direction: column;
}

main#content-users {
    padding-top: 40px;
}